In [9]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

In [10]:
number_list =[]
for number in range(1, 6):
    number_list.append(number)

In [12]:
number_list

[1, 2, 3, 4, 5]

In [14]:
number_list = [number for number in range(1,6)]
number_list

[1, 2, 3, 4, 5]

In [15]:
number_list = [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [16]:
a_list = [number for number in range(1,6) if number %2 ==1]
a_list

[1, 3, 5]

In [18]:
a_list = [number for number in range(1,6) if number %2 ==1 ]
a_list =[]
for number in range(1,6):
    if number%2 == 1:
        a_list.append(number)
a_list

[1, 3, 5]

In [19]:
sentence = ["I", "Love", "Python", "Sooooooo", 'MUCH']

In [20]:
[word.lower() for word in sentence]

['i', 'love', 'python', 'sooooooo', 'much']

In [21]:
[word for word in sentence if len(word) > 6]

['Sooooooo']

In [22]:
[(X, X **2, X **3) for X in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [24]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [25]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [26]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [28]:
word = 'letter'
letter_counts = {letter: word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1}

In [29]:
word = 'letter'
letter_counts = {letter: word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1}

In [31]:
word = 'letter'
letter_counts = {letter: word.count(letter) for letter in set(word)}
letter_counts

{'t': 2, 'e': 2, 'r': 1, 'l': 1}

In [33]:
a_set = {number for number in range(1,6) if number %3 ==1}
a_set

{1, 4}

In [34]:
def function_name(param1, param2):
    value = do_something()
    return value

In [35]:
def sum(a,b):
    return a+b
sum(1, 2)

3

In [36]:
sum(1.3, 3.1)

4.4

In [39]:
sum('love ',  'python')

'love python'

In [41]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ":drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday :drink coffee - eat banana - enjoy tiramisu
Tuesday :drink tea - eat orange - enjoy ice cream
Wednesday :drink beer - eat peach - enjoy pie

In [42]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'

list(zip(english, french))

dict(zip(english, french))

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [44]:
def menu(wine, entree, dessert):
    return{'wine': wine, 'entree': entree, 'dessert': dessert}
menu('chardonnay', 'chichen', 'cake')

{'wine': 'chardonnay', 'entree': 'chichen', 'dessert': 'cake'}

In [45]:
def menu(wine, entree, dessert):
    return{'wine': wine, 'entree': entree, 'dessert': dessert}
menu(entree = 'beef', dessert = 'bagel', wine = 'bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [46]:
menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [47]:
def menu(wine, entree, dessert='pudding'):
    return{'wine': wine, 'entree': entree, 'dessert': dessert}

In [48]:
menu('chardonnay', 'chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [49]:
menu('dunkelfelder', 'duck', 'donghnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'donghnut'}

In [50]:
def menu(price, wine='chardonnay', entree='chickent', dessert='pudding'):
    return{'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [52]:
menu(100)
menu(price=100)
menu(price=120, entree='beef')
menu(dessert='bagel', price=110)
menu('eighty', 'saint-pirre', 'fish')
menu('hundred', wine='saint-pierre')

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chickent',
 'dessert': 'pudding'}

In [53]:
menu()
menu(price=100, 'saint-pierre')
menu(100, price=120)
menu(main='cream pasta') #정의한적 없음

SyntaxError: positional argument follows keyword argument (<ipython-input-53-17f9b2a1ccc4>, line 2)

In [ ]:
def echo(anything):
    'echo returns its input argument'
    return anything

In [ ]:
def print_if_true(thing, check):
    """Print the first argument if a second argument is true.
    The operation is:
        1.Check whether the *second* argument is true
        2.If it is, print the *first* argument."""
    if check:
        pring(thing)

In [ ]:
help(echo)

In [ ]:
echo(anything)